*.o
*.lo
*.la
*.h.in*
*.dirstamp
.deps/
.libs/
dist/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/test-driver
/config.*
/configure
/libtool
/m4/
/stamp-h1
/yawl

/deps/prefix/
/deps/build/

pkgconfig/
ossl-modules/
engines-3/

*~
*.swp
.vscode/
